# ------------------------------
# Virtual environment
# ------------------------------
.venv/

# ------------------------------
# Python cache files
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ------------------------------
# Jupyter Notebook checkpoints
# ------------------------------
.ipynb_checkpoints/

# ------------------------------
# OS files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Dataset / large files (optional)
# ------------------------------
dataset/
*.zip
*.tar.gz

# ------------------------------
# Model outputs / training runs
# ------------------------------
runs/
*.h5
*.pt

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# IDE files
# ------------------------------
.vscode/
*.code-workspace
